**/.git
**/.gitignore
scratchpad

app/vendor
app/node_modules
app/.env
app/.env.backup
app/database/database.sqlite
app/storage/logs/*
app/storage/framework/cache/*
app/storage/framework/sessions/*
app/storage/framework/views/*
app/public/build
app/public/hot
app/public/storage

backend
README.md
